.header-list {
  display: flex;
}

nav {
  margin-top: 20px;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: white;
}

li {
  display: inline-block;
  margin: 0 0 0 65px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #C4C4CC;
  font-size: 20px;
  line-height: 21px;
}

ul {
  margin: 0;
  color: white;
  list-style: none;
}
